---
---

#header {
  background-color: transparent;
  background-image: url({{"/assets/images/breathe_stress_less.png" | relative_url}});

  background-size: cover;
  background-position: center center;
}
#header nav  {
  background-color: transparent;
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin:auto;
  li a {
    background-color:#88A28F;
    border-color:#88A28F;
    color:#88A28F;
    width:22%;
    min-width:180px;
    display: inline-block;
  }
}
