---
---
@mixin slight-shadow() {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.08), 0px 0px 4px rgba(0,0,0,0.05)
}



#header {
  background-color: transparent;
  background-image: url({{ '/assets/images/clear_view.jpg' | relative_url }});
  background-size: cover;
  background-position: center center;
  height: auto;
  display: block;
  h1 a {
    color: #6495ED;
    &:hover {
      color: #f9f9f9;
      text-decoration: none;
    }}}

#header nav {
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto;
  li a {
    background-color: rgba(#6495ED, .75);
    border-color: #6495ED;
    color: #0F291A;
    width: 22%;
    min-width: 180px;
    display: inline-block;
  }}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
img {
  max-width: 70%;
  height: 450px;
}
